{% extends "./base.html.twig" %}

{% block body %}
<div class="w-4/5 m-auto pt-40">
    <h1 class="text-6xl text-center pb-12">
        Edit Product
    </h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <br>
        <br>

            <div id = 'div_atributos' >
                        <label class = 'bg-transparent block mt-10 border-b-2 w-full h-10 text-3xl outline-none'
                        id="label_select_atributo" name="label_select_atributo">{{ attribute[0].getAttributeName }}</label>
                        <input id="label_select_atributo_post" name="label_select_atributo_post" type="hidden" value={{ attribute[0].getAttributeName }}>
                        <select id="select_atributo" name="select_atributo" 
                            class = 'bg-transparent block mt-10 border-b-2 w-full h-10 text-3xl outline-none'
                        required>
                          <option value="LED">LED</option>
                          <option value="LCD">LCD</option>
                          <option value="OLED">OLED</option>
                        </select>
                        <br><br>
                        <label id="label_input_atributo" class = 'bg-transparent block mt-10 border-b-2 w-full h-10 text-3xl outline-none' name="label_input_atributo">{{ attribute[1].getAttributeName }}</label>
                        <input id="label_input_atributo_post" name="label_input_atributo_post" type="hidden" value={{ attribute[1].getAttributeName }}>
                        <input type="text" id="input_atributo" name="input_atributo"
                        class = 'bg-transparent block mt-10 border-b-2 w-full h-10 text-3xl outline-none' value = {{ attribute[1].getAttributeValue }}>
                        <br><br>
            </div>
        
        <button    
            type="submit"
            class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg font-extrabold py-4 px-8 rounded-3xl">
            Submit Post
        </button>

    {{ form_end(form) }}
</div>
{% endblock %}

