{% extends "./base.html.twig" %}

{% block body %}
    <div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <h1 class="text-6xl pt-12 pb-8">
                Products ({{ products|length }})
            </h1>

        </div>
    </div>

        <div class="mx-auto w-4/5 my-8">
            <a 
                href="/products/create" 
                class="uppercase border border-gray-500 text-lg py-4 px-6 rounded transition transition-all bg-gray-800 text-white hover:bg-white hover:text-gray-800">
                Create New Product
            </a>
        </div>
    
    <div class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15 ">
        <!-- Review Item -->
        {% for product in products %}
            <div class="text-center pt-8 pb-4">

                <h2 class="text-gray-700 font-bold text-3xl py-2">
                    {{ product.nombre }}
                </h2>

                <h2 class="text-gray-700 font-bold text-3xl py-2">
                    {{ product.sku }}
                </h2>

                <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                    {{ product.marca }}
                </p>

                <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                    {{ product.costo }}
                </p>

                <a href="/product/{{ product.id }}" class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
                    Show Product
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}