{% extends "./base.html.twig" %}

{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
            {{ product.nombre }}
        </h1>

         <p class="text-xl py-6">
            {{ "SKU: " ~ product.sku }}
        </p>

        <p class="text-xl py-6">
            {{ "Marca: " ~ product.marca }}
        </p>

        <p class="text-xl py-6">
            {{ "Costo: " ~ product.costo }}
        </p>
        
         <p class="text-xl py-6">
            {{ "Renglon: " ~ product.renglon }}
        </p>

        {% for att in attribute %}

        <p class="text-xl py-6">
            {{ att.getAttributeName ~ ": " ~ att.getAttributeValue }}
        </p>
         
        {% endfor %}

        <br>

            <a 
                href="/products/edit/{{ product.id }}"
                class="bg-blue-300 font-bold py-2 px-4 rounded transition-all hover:bg-blue-500">
                Edit Product
            </a>

            <a 
                href="/products/delete/{{ product.id }}"
                class="bg-red-300 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-500">
                Delete Product
            </a>
    </div>
{% endblock %}